@model CRUD_MVC.Models.EmployeeViewModel

@{
    ViewData["Title"] = "Default";
}

<h1>Default</h1>

<h4>Employee</h4>
<hr />
<div id="employee-form" class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            @if (!string.IsNullOrWhiteSpace(ViewData["FormMessage"] as string))
            {
                <p class="success-message">✅ @ViewData["FormMessage"]</p>
            }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}